<!doctype html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
<head>
<!-- Taboola Pixel Code -->
<script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1704197});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1704197/tfa.js',
  'tb_tfa_script');
</script>
<!-- End of Taboola Pixel Code -->
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1650505589040050&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code --> 

  
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />{%- endif -%}
  <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {%- if page_description -%}<meta name="description" content="{{ page_description | escape }}">{%- else -%}<meta name="description" content="{{ shop.description | escape }}">{%- endif -%}

  <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com" crossorigin>

  <link rel="preload" href="https://widget.reviews.io/rating-snippet/dist.css" as="style">
  <link rel="preload" href="https://d19ayerf5ehaab.cloudfront.net/css/product-widget/style.css" as="style">
  <link rel="preload" href="https://widget.reviews.io/rating-snippet/dist.js" as="script">

  {%- unless settings.type_base_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_base_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_heading_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}

  {{ 'theme.css' | asset_url | preload_tag: as: 'style' }}
  {{ 'niccos.css' | asset_url | preload_tag: as: 'style' }}
  {{ 'swiper.css' | asset_url | preload_tag: as: 'style' }}
  {{ 'vendor.js' | asset_url | preload_tag: as: 'script' }}
  {{ 'theme.dev.js' | asset_url | preload_tag: as: 'script' }}

  <link rel="preload" as="image" href="{{ 'loading.svg' | asset_url }}">
  {%- liquid
      assign loading_appearance = settings.loading_appearance
      assign image_width = settings.loading_image_width
      assign image = settings.loading_image
  -%}
  {%- unless loading_appearance == 'never' -%}
  {%- if image != blank -%}
    {%- assign image_height = image_width | divided_by: image.aspect_ratio | round -%}
    {%- capture preload_image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
    <link rel="preload" as="image" href="{{ image | img_url: preload_image_size }}" data-preload="{{ preload_image_size }}">
  {%- endif -%}

  {%- style -%}
    :root { --loader-image-size: {{ image_width }}px; }
    {%- if image == blank -%}
      :root { --loader-image-size: 320px; }
    {%- endif -%}
    html:not(.is-loading) .loading-overlay { opacity: 0; visibility: hidden; pointer-events: none; }
    .loading-overlay { position: fixed; top: 0; left: 0; z-index: 99999; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; background: var(--bg); transition: opacity 0.3s ease-out, visibility 0s linear 0.3s; }
    .loading-overlay .loader__image--fallback { width: 320px; height: 100%; background: var(--loader-image) no-repeat center center/contain; }
    .loader__image__holder { position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 0; display: flex; align-items: center; justify-content: center; animation: pulse-loading 2s infinite ease-in-out; }
    .loader__image { max-width: {{ image_width }}px; height: auto; object-fit: contain; }
  {%- endstyle -%}

  <script>
    const loadingAppearance = {{ loading_appearance | json }};
    const loaded = sessionStorage.getItem('loaded');

    if (loadingAppearance === 'once') {
      if (loaded === null) {
        sessionStorage.setItem('loaded', true);
        document.documentElement.classList.add('is-loading');
      }
    } else {
      document.documentElement.classList.add('is-loading');
    }
  </script>
  {%- endunless -%}

  {%- render 'social-meta-tags' -%}
  {%- render 'product-rating' -%}
  {%- render 'css-variables' -%}

  {{- 'theme.css' | asset_url | stylesheet_tag -}}
  {{- 'niccos.css' | asset_url | stylesheet_tag -}}
  {{- 'swiper.css' | asset_url | stylesheet_tag -}}

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";
      scripts.parentNode.insertBefore(polyfill, scripts);
      document.documentElement.classList.add('ie11');
    } else {
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    }

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }

    window.theme = {
      routes: {
        root: root,
        cart_url: {{ routes.cart_url | json }},
        cart_add_url: {{ routes.cart_add_url | json }},
        cart_change_url: {{ routes.cart_change_url | json }},
        shop_url: {{ shop.url | json }},
        searchUrl: '{{ routes.search_url }}',
        predictiveSearchUrl: '{{ routes.predictive_search_url }}',
        product_recommendations_url: {{ routes.product_recommendations_url | json }}
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        no_image: "{{ image | img_url: '1024x' }}",
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}"
      },
      strings: {
        add_to_cart: {{ "products.product.add_to_cart" | t | json }},
        cart_acceptance_error: {{ "cart.general.accept_terms" | t | json }},
        cart_empty: {{ "cart.general.empty" | t | json }},
        cart_price: {{ "cart.label.price" | t | json }},
        cart_quantity: {{ "cart.label.quantity" | t | json }},
        cart_items_one: {{ "cart.label.items_with_count.one" | t | json }},
        cart_items_many: {{ "cart.label.items_with_count.other" | t | json }},
        cart_title: {{ "cart.general.title" | t | json }},
        cart_total: {{ "cart.label.total" | t | json }},
        continue_shopping: {{ "cart.general.continue_shopping" | t | json }},
        free: {{ 'products.product.free' | t | json }},
        limit_error: {{ "cart.general.limit_error" | t | json }},
        preorder: {{ "products.product.preorder" | t | json }},
        remove: {{ 'cart.general.remove' | t | json }},
        sale_badge_text: {{ "products.product.sale" | t | json }},
        saving_badge: {{ "products.product.save_badge_html" | t | json }},
        saving_up_to_badge: {{ "products.product.save_badge_up_to_html" | t | json }},
        sold_out: {{ "products.product.sold_out" | t | json }},
        subscription: {{ "products.product.subscription" | t | json }},
        unavailable: {{ "products.product.unavailable" | t | json }},
        unit_price_label: {{ "products.product.unit_price_label" | t | json }},
        unit_price_separator: {{ "general.accessibility.unit_price_separator" | t | json }},
        zero_qty_error: {{ "cart.general.zero_qty_error" | t | json }},
        delete_confirm: {{ "customer.addresses.delete_confirm" | t | json }},
        newsletter_product_availability: {{ "general.newsletter_form.newsletter_product_availability" | t | json }}
      },
      icons: {
        plus: '{% render "icon-toggle-plus" %}',
        minus: '{% render "icon-toggle-minus" %}',
        close: '{% render "icon-close" %}'
      },
      settings: {
        animations: {{ settings.animations_enabled | json }},
        cartType: {{ settings.cart_type | json }},
        enableAcceptTerms: {{ settings.enable_accept_terms | json }},
        enableInfinityScroll: {{ settings.enable_infinity_scroll | json }},
        enablePaymentButton: {{ settings.show_payment_button | json }},
        gridImageSize: {{ settings.image_size | json }},
        gridImageAspectRatio: {{ settings.image_aspect_ratio | json }},
        mobileMenuBehaviour: {{ settings.mobile_menu_behaviour | json }},
        productGridHover: {{ settings.product_grid_hover | json }},
        savingBadgeType: {{ settings.saving_badge_type | json }},
        showSaleBadge: {{ settings.show_sale_badge | json }},
        showSoldBadge: {{ settings.show_sold_badge | json }},
        showSavingBadge: {{ settings.show_saving_badge | json }},
        quickBuy: {{ settings.quick_buy | json }},
        suggestArticles: {{ settings.suggest_articles | json }},
        suggestCollections: {{ settings.suggest_collections | json }},
        suggestProducts: {{ settings.suggest_products | json }},
        suggestPages: {{ settings.suggest_pages | json }},
        suggestionsResultsLimit: {{ settings.suggestions_results_limit | json }},
        currency_code_enable: {{ settings.currency_code_enable | json }},
        hideInventoryCount: {{ settings.hide_inventory_count | json }},
        enableColorSwatchesCollection: {{ settings.enable_color_swatches_collection | json }},
      },
      sizes: {
        mobile: 480,
        small: 768,
        large: 1024,
        widescreen: 1440
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      subtotal: {{ cart.total_price | json }},
      info: {
        name: 'Palo Alto'
      },
      version: '5.6.0'
    };
    window.PaloAlto = window.PaloAlto || {};
    window.slate = window.slate || {};
    window.isHeaderTransparent = false;
    window.stickyHeaderHeight = 60;
    window.lastWindowWidth = window.innerWidth || document.documentElement.clientWidth;
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.dev.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'niccos.js' | asset_url }}" defer="defer"></script>

  {%- comment -%}
    If you need to do some edits in Theme JS use theme.dev.js file

    *** DO NOT EDIT theme.js file ***

    Then call theme.dev.js file by editing the row above from:
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    to
    <script src="{{ 'theme.dev.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}

  {% unless request.design_mode or request.path contains 'challenge' %}
  {% render 'vitabay' %}
  <script type="text/javascript">
    const observer = new MutationObserver(e => { e.forEach(({ addedNodes: e }) => { e.forEach(e => { 1 === e.nodeType && "SCRIPT" === e.tagName && (e.innerHTML.includes("asyncLoad") && (e.innerHTML = e.innerHTML.replace("if(window.attachEvent)", "document.addEventListener('asyncLazyLoad',function(event){asyncLoad();});if(window.attachEvent)").replaceAll(", asyncLoad", ", function(){}")), e.innerHTML.includes("PreviewBarInjector") && (e.innerHTML = e.innerHTML.replace("DOMContentLoaded", "asyncLazyLoad")), (e.className == 'analytics') && (e.type = 'text/lazyload'),(e.src.includes("assets/storefront/features")||e.src.includes("assets/shopify_pay")||e.src.includes("connect.facebook.net"))&&(e.setAttribute("data-src", e.src), e.removeAttribute("src")))})})});observer.observe(document.documentElement,{childList:!0,subtree:!0})
    eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('2.8();9(a.b=="c d"){2.e("\\n\\n\\n\\f g=\\"h:i;j-k:l;m-3:1;4-o:p-4;q:0;r:0;5:s;3:t;6-5:u;6-3:v;w-x:y;z-A:B;C:D;E:F;\\" G-H=\\"I J: K-L\\"\\7□\\M\\/N\\7\\n      ")}2.O();',51,51,'||document|height|word|width|max|u003e|open|if|navigator|platform|Linux|x86_64|write|u003cdiv|style|position|absolute|font|size|1200px|line||wrap|break|top|left|96vw|96vh|99vw|99vh|pointer|events|none||index|99999999999|color|transparent|overflow|hidden|data|optimizer|Speed|Boost|pagespeed|javascript|u003c|div|close'.split('|'),0,{}))
    {% if template == "index" %}
      eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('l(r.O=="P y"){i j=[],s=[];u Q(a,b=R){S c;T(...d)=>{U(c),c=V(()=>a.W(X,d),b)}}2.m="Y"+(2.z||"")+"Z";2.A="10"+(2.z||"")+"11";12{i a=r[2.m],e=r[2.A];2.k=(e.B(\'y\')>-1&&a.B(\'13\')<0),2.m="!1",c=C}14(d){2.k=!1;i c=C;2.m="!1"}2.k=k;l(k)i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(e.4("f-3",e.3),e.g("3"),e.15="16/17")})})}),p=0,q=K;18 i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(s.w&&s.8(t=>{e.3.h(t)&&(e.4("f-3",e.3),e.g("3"))}),e.9.h("x")&&(e.9=e.9.L("l(2.M)","N.19(\'1a\',u(1b){x();});l(2.M)").1c(", x",", u(){}")),(e.9.h("1d")||e.9.h("1e"))&&(e.9=e.9.L("1f","1g")))})})}),p=0,q=K;v.1h(N.1i,{1j:!0,1k:!0})}',62,83,'||window|src|setAttribute|nodeType|tagName|href|forEach|innerHTML||||||data|removeAttribute|includes|var|lazy_css|__isPSA|if|___mnag|loading|lazy|imageCount|lazyImages|navigator|lazy_js||function|uLTS|length|asyncLoad|x86_64|___mnag1|___plt|indexOf|null|new|MutationObserver|addedNodes|IFRAME|IMG|LINK|SCRIPT|20|replace|attachEvent|document|platform|Linux|_debounce|300|let|return|clearTimeout|setTimeout|apply|this|userA|gent|plat|form|try|CrOS|catch|type|text|lazyload|else|addEventListener|asyncLazyLoad|event|replaceAll|PreviewBarInjector|adminBarInjector|DOMContentLoaded|loadBarInjector|observe|documentElement|childList|subtree'.split('|'),0,{}))
    {% else %}
      eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('i(2.O<P){i(r.Q=="R y"){j k=[],s=[];u S(a,b=T){U c;V(...d)=>{W(c),c=X(()=>a.Y(Z,d),b)}}2.m="10"+(2.z||"")+"11";2.A="12"+(2.z||"")+"13";14{j a=r[2.m],e=r[2.A];2.l=(e.B(\'y\')>-1&&a.B(\'15\')<0),2.m="!1",c=C}16(d){2.l=!1;j c=C;2.m="!1"}2.l=l;i(l)j v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&k.w&&k.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(e.4("f-3",e.3),e.g("3"),e.17="18/19")})})}),p=0,q=K;1a j v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&k.w&&k.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(s.w&&s.8(t=>{e.3.h(t)&&(e.4("f-3",e.3),e.g("3"))}),e.9.h("x")&&(e.9=e.9.L("i(2.M)","N.1b(\'1c\',u(1d){x();});i(2.M)").1e(", x",", u(){}")),(e.9.h("1f")||e.9.h("1g"))&&(e.9=e.9.L("1h","1i")))})})}),p=0,q=K;v.1j(N.1k,{1l:!0,1m:!0})}}',62,85,'||window|src|setAttribute|nodeType|tagName|href|forEach|innerHTML||||||data|removeAttribute|includes|if|var|lazy_css|__isPSA|___mnag|loading|lazy|imageCount|lazyImages|navigator|lazy_js||function|uLTS|length|asyncLoad|x86_64|___mnag1|___plt|indexOf|null|new|MutationObserver|addedNodes|IFRAME|IMG|LINK|SCRIPT|20|replace|attachEvent|document|innerWidth|600|platform|Linux|_debounce|300|let|return|clearTimeout|setTimeout|apply|this|userA|gent|plat|form|try|CrOS|catch|type|text|lazyload|else|addEventListener|asyncLazyLoad|event|replaceAll|PreviewBarInjector|adminBarInjector|DOMContentLoaded|loadBarInjector|observe|documentElement|childList|subtree'.split('|'),0,{}))
    {% endif %}
  </script>
  {% else %}

{{ content_for_header }}{% endunless %}
  {% render 'cookie-consent' %}
  {% render 'dataLayer-allPages' %}
  



<!-- START SCRIPT --><script id="wgs-scripttag-prod" src="/apps/ap/static/scripts/dist/wgs.bundle.js?shop=by-vitabay.myshopify.com&app_proxy=true&cart_attr_disabled=false&enable_sps=false&line_items_disabled=false&wgs_config_id=1" async=true></script><style>#customerReferenceId { display: none; }</style><!-- END SCRIPT -->
{% include 'pagefly-app-header' %}</head>
  {%- capture body_classes -%}
    template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
    {% if customer %} customer-logged-in{% endif %}
    {% if settings.show_rounded_corners %} body--rounded-corners{% endif %}
    {% if settings.animations_enabled %} aos-initialized{% endif %}
    {% if settings.color_body_bg == '#000000' or settings.color_body_bg == '#000' %} palette--dark{% endif %}
    {% if settings.color_body_bg == '#ffffff' or settings.color_body_bg == '#fff' %} palette--light{% endif %}
      no-outline
  {%- endcapture -%}
  {%- assign body_classes = body_classes | strip_newlines | strip -%}
<style>
  @font-face {
    font-family: 'Circe', sans-serif;
    src: url("{{ 'Circe-Regular.ttf' | asset_url }}") format('ttf')
  }
</style>
<body id="{{ page_title | handle }}" class="{{ body_classes }}" data-animations="{{ settings.animations_enabled }}">
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
     })(window,document,'script','dataLayer','GTM-WF4V67P8');
  </script>
  <!-- End Google Tag Manager -->

  {%- render 'loading' -%}
  <a class="in-page-link skip-link" data-skip-content href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% sections 'group-header' %}
  {% sections 'group-overlay' %}
  <main id="MainContent" class="main-content" data-main>
    {{ content_for_layout }}
  </main>
  {% sections 'group-footer' %}

  {%- comment -%} Photoswipe containers {%- endcomment -%}
  {%- render 'zoom-pswp', template_index: 0 -%}
  {%- render 'zoom-pswp', template_index: 1 -%}

  {%- if settings.show_scroll_to_top -%}
    <button type="button" class="btn btn--primary btn--solid btn--scroll-top" data-scroll-top-button aria-label="{{ 'general.accessibility.scroll_to_top' | t }}">
      {% render 'icon-select' %}
    </button>
  {%- endif -%}

  {%- comment -%}
    In order to use your custom javascript file at assets/custom.js
    just cut this next line and paste it outside this comment:
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}
 <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  <!-- Paste marketing code or third party scripts below this comment line ============== -->
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WF4V67P8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- And above this comment line ================================================== -->
</body>
</html>
