<div class="coll-image-text">
  <div class="wrapper">
    <div class="cit-wrap">
      <div class="cit-text">
        <h2>{{ section.settings.title }}</h2>   
        <p>{{ section.settings.text }}</p>
        <div class="cit-button">
           <a href="{{ section.settings.button_link }}" class="button">
          {{ section.settings.button_label | escape }}
        </a>
        </div>
      </div>
      <div class="cit--image">
        <img class="for_desktop" src="{{ section.settings.imff | img_url:'master' }}">
         <img class="for_mobile" src="{{ section.settings.imff | img_url:'master' }}">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Coll Image Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
       {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "imff",
        "label": "Image"
      }
    ],
    "presets": [
    {
      "name": "Coll Image Text"
    }
  ]
    
  }
{% endschema %}