<section id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="review_showcase">
    <div class="review_showcase_stars" role="img"><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg>
    </div>
  <span class="text__content">
     "{{ section.settings.review_text }}"
  </span>
  <div class="review_person"></div>
  <span class="review_person_name">
    {{ section.settings.review_name }}
  </span>
  <div class="review_verified_container">
  <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" style="vertical-align: middle;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M7 12.5l3 3 7-7" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> 
  <span class="text__content" style="vertical-align: middle;">
    Verifizierter Kunde
  </span>
  </div> 
  </div>
</section>
<style>

  #shopify-section-{{ section.id }} .review_person_name {
    display: block;
    margin-top: 15px;
    font-size: 20px;
  }
  
  #shopify-section-{{ section.id }} .review_showcase {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: {{ section.settings.background }};
  }

  #shopify-section-{{ section.id }} .review_showcase_stars {
    display: block;
    color: {{ section.settings.stars_color }};
  }

  #shopify-section-{{ section.id }} .review_text {
    font-size: 18px;
    color: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} .review_person {
    width: 3.2em;
    height: 3.2em;
    line-height: 3.2em;
    text-align: center;
    border-radius: 50%;
    color: #333333;
    background-color: #e9e9e9;
    margin: 15px auto auto;
    background-image: url("{{ section.settings.review_image | img_url: '150x'}}");
    background-size: contain;
  }
  
  #shopify-section-{{ section.id }} #section-{{ section.id }} {
    margin: 36px 15px;    
  }

  @media screen and (min-width: 640px) {
    #shopify-section-{{ section.id }} #section-{{ section.id }} {
      background-color: {{ section.settings.background }};
      margin: 0px 0px;
      padding: 36px 0px;
    }
  }
</style>

{% schema %}
{
  "name": "Testimonial Single",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Hintergrundfarbe",
      "default": "#f4f4f4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Textfarbe",
      "default": "#1c1b1b"
    },
    {
      "type": "color",
      "id": "stars_color",
      "label": "Farbe der Sterne",
      "default": "#F9CA4F"
    },
    {
      "type": "image_picker",
      "id": "review_image",
      "label": "Bild",
      "info": "150 x 150px .jpg recommended"
    },
    {
      "type": "text",
      "id": "review_name",
      "label": "Name",
      "default": "Sylvia H."
    },
    {
      "type": "text",
      "id": "review_text",
      "label": "Review Text",
      "default": "Ich bin begeistert! Die Barfußschuhe haben meine Haltungsschmerzen deutlich gemindert und auch die Thermo-Kleidung ist sensationell!"
    }
  ],
  "presets": [{
    "name": "Testimonial Single",
    "category": "Custom"
  }]
}
{% endschema %}